node-red/flows/notifications.json
[
    {
        "id": "966ffa5b6d6e9fbc",
        "type": "tab",
        "label": "Notifications",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7ac0058a9926be12",
        "type": "trigger-state",
        "z": "966ffa5b6d6e9fbc",
        "name": "",
        "server": "b957863ef7993781",
        "version": 4,
        "inputs": 0,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "lock.back_door",
        "entityIdType": "exact",
        "debugEnabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "unlocked"
            }
        ],
        "customOutputs": [],
        "outputInitially": false,
        "stateType": "str",
        "enableInput": false,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "x": 140,
        "y": 80,
        "wires": [
            [
                "bc6ef323821bd0fc"
            ],
            []
        ]
    },
    {
        "id": "a0618be827eba7a2",
        "type": "comment",
        "z": "966ffa5b6d6e9fbc",
        "name": "Detect when door is unlocked",
        "info": "",
        "x": 140,
        "y": 40,
        "wires": []
    },
    {
        "id": "af414b192547dae4",
        "type": "comment",
        "z": "966ffa5b6d6e9fbc",
        "name": "Lock the door",
        "info": "",
        "x": 610,
        "y": 40,
        "wires": []
    },
    {
        "id": "bc6ef323821bd0fc",
        "type": "trigger",
        "z": "966ffa5b6d6e9fbc",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 410,
        "y": 80,
        "wires": [
            [
                "ba29841b011bb26c"
            ]
        ]
    },
    {
        "id": "990e952138b9e6ee",
        "type": "comment",
        "z": "966ffa5b6d6e9fbc",
        "name": "wait 1 minutes",
        "info": "",
        "x": 410,
        "y": 40,
        "wires": []
    },
    {
        "id": "ba29841b011bb26c",
        "type": "api-call-service",
        "z": "966ffa5b6d6e9fbc",
        "name": "Lock Door",
        "server": "b957863ef7993781",
        "version": 5,
        "debugenabled": false,
        "domain": "lock",
        "service": "lock",
        "areaId": [],
        "deviceId": [
            "53e910befdd7e383eb3fe8f45c1ffe9b"
        ],
        "entityId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 610,
        "y": 80,
        "wires": [
            [
                "f9a2483bb377f72c"
            ]
        ]
    },
    {
        "id": "f9a2483bb377f72c",
        "type": "api-call-service",
        "z": "966ffa5b6d6e9fbc",
        "name": "Notify Kyle's Devices",
        "server": "b957863ef7993781",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_kyles_iphone_15",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\t    \"message\": \"This is a test of the back door!!!\",\t    \"title\": \"This is a test of the back door!!!\"\t}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 820,
        "y": 80,
        "wires": [
            [
                "4f1e91d453f119a5"
            ]
        ]
    },
    {
        "id": "4f1e91d453f119a5",
        "type": "debug",
        "z": "966ffa5b6d6e9fbc",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 80,
        "wires": []
    },
    {
        "id": "c7fbf17c6afd43f8",
        "type": "comment",
        "z": "966ffa5b6d6e9fbc",
        "name": "Notify back door locked",
        "info": "",
        "x": 120,
        "y": 380,
        "wires": []
    },
    {
        "id": "dcd312f2bdeebcdf",
        "type": "comment",
        "z": "966ffa5b6d6e9fbc",
        "name": "Notify back door unlocked",
        "info": "",
        "x": 130,
        "y": 480,
        "wires": []
    },
    {
        "id": "55c20b9a3a901f7e",
        "type": "comment",
        "z": "966ffa5b6d6e9fbc",
        "name": "Notify carport has motion",
        "info": "",
        "x": 130,
        "y": 580,
        "wires": []
    },
    {
        "id": "b83e0bbda58b83a8",
        "type": "comment",
        "z": "966ffa5b6d6e9fbc",
        "name": "Notify driveway has motion",
        "info": "",
        "x": 130,
        "y": 680,
        "wires": []
    },
    {
        "id": "d06ab63a550625c8",
        "type": "comment",
        "z": "966ffa5b6d6e9fbc",
        "name": "Notify front door has motion",
        "info": "",
        "x": 140,
        "y": 780,
        "wires": []
    },
    {
        "id": "122f01778a82f446",
        "type": "comment",
        "z": "966ffa5b6d6e9fbc",
        "name": "Notify front door locked",
        "info": "",
        "x": 120,
        "y": 880,
        "wires": []
    },
    {
        "id": "eceab1bcee5622d1",
        "type": "comment",
        "z": "966ffa5b6d6e9fbc",
        "name": "Notify front door unlocked",
        "info": "",
        "x": 130,
        "y": 980,
        "wires": []
    },
    {
        "id": "3e5d5a74ce4320d1",
        "type": "comment",
        "z": "966ffa5b6d6e9fbc",
        "name": "Notify hallway has motion",
        "info": "",
        "x": 130,
        "y": 1080,
        "wires": []
    },
    {
        "id": "331cbce7c3e1eec4",
        "type": "comment",
        "z": "966ffa5b6d6e9fbc",
        "name": "Notify outdoor kitchen door locked",
        "info": "",
        "x": 160,
        "y": 1180,
        "wires": []
    },
    {
        "id": "e27fc0b21d77eca7",
        "type": "comment",
        "z": "966ffa5b6d6e9fbc",
        "name": "Notify outdoor kitchen door unlocked",
        "info": "",
        "x": 170,
        "y": 1300,
        "wires": []
    },
    {
        "id": "7a49c8cab06adead",
        "type": "comment",
        "z": "966ffa5b6d6e9fbc",
        "name": "Notify outdoor kitchen has motion",
        "info": "",
        "x": 150,
        "y": 1420,
        "wires": []
    },
    {
        "id": "408056b81803b66c",
        "type": "comment",
        "z": "966ffa5b6d6e9fbc",
        "name": "Notify pool back yard has motion",
        "info": "",
        "x": 150,
        "y": 1520,
        "wires": []
    },
    {
        "id": "accfcb7a12ff57c8",
        "type": "comment",
        "z": "966ffa5b6d6e9fbc",
        "name": "Notify shop ac still on",
        "info": "",
        "x": 120,
        "y": 1640,
        "wires": []
    },
    {
        "id": "1d4763309df227bd",
        "type": "comment",
        "z": "966ffa5b6d6e9fbc",
        "name": "Notify side shop has motion",
        "info": "",
        "x": 140,
        "y": 1780,
        "wires": []
    },
    {
        "id": "7b26e6a1f0f81a56",
        "type": "comment",
        "z": "966ffa5b6d6e9fbc",
        "name": "Notify someone rang doorbell",
        "info": "",
        "x": 140,
        "y": 1900,
        "wires": []
    },
    {
        "id": "ceea9c23ea32f871",
        "type": "debug",
        "z": "966ffa5b6d6e9fbc",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 420,
        "wires": []
    },
    {
        "id": "9cb3069a1fdb3fa8",
        "type": "debug",
        "z": "966ffa5b6d6e9fbc",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 520,
        "wires": []
    },
    {
        "id": "4c9d6d8d68b63d6f",
        "type": "debug",
        "z": "966ffa5b6d6e9fbc",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 620,
        "wires": []
    },
    {
        "id": "0be838af88b93717",
        "type": "debug",
        "z": "966ffa5b6d6e9fbc",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 720,
        "wires": []
    },
    {
        "id": "060f497d94bc44a0",
        "type": "inject",
        "z": "966ffa5b6d6e9fbc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1680,
        "wires": [
            [
                "7cddbbc49dca0ff9"
            ]
        ]
    },
    {
        "id": "47a63d2aa732d2a0",
        "type": "trigger-state",
        "z": "966ffa5b6d6e9fbc",
        "name": "",
        "server": "b957863ef7993781",
        "version": 4,
        "inputs": 0,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "lock.back_door",
        "entityIdType": "exact",
        "debugEnabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "locked"
            }
        ],
        "customOutputs": [],
        "outputInitially": false,
        "stateType": "str",
        "enableInput": false,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "x": 140,
        "y": 420,
        "wires": [
            [
                "5f5f5d1605017cfe"
            ],
            []
        ]
    },
    {
        "id": "c2255434e0e82720",
        "type": "trigger-state",
        "z": "966ffa5b6d6e9fbc",
        "name": "",
        "server": "b957863ef7993781",
        "version": 4,
        "inputs": 0,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "lock.back_door",
        "entityIdType": "exact",
        "debugEnabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "unlocked"
            }
        ],
        "customOutputs": [],
        "outputInitially": false,
        "stateType": "str",
        "enableInput": false,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "x": 140,
        "y": 520,
        "wires": [
            [
                "8325c5086b3c5deb"
            ],
            []
        ]
    },
    {
        "id": "5f5f5d1605017cfe",
        "type": "api-call-service",
        "z": "966ffa5b6d6e9fbc",
        "name": "Notify Kyle's Devices",
        "server": "b957863ef7993781",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_kyles_iphone_15",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\":\"Back door Locked Node Red.\",\"title\":\"Back door Locked Node Red.\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 620,
        "y": 420,
        "wires": [
            [
                "ceea9c23ea32f871"
            ]
        ]
    },
    {
        "id": "8325c5086b3c5deb",
        "type": "api-call-service",
        "z": "966ffa5b6d6e9fbc",
        "name": "Notify Kyle's Devices",
        "server": "b957863ef7993781",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_kyles_iphone_15",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\":\"Back door unlocked Node Red.\",\"title\":\"Back door unlocked Node Red.\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 620,
        "y": 520,
        "wires": [
            [
                "9cb3069a1fdb3fa8"
            ]
        ]
    },
    {
        "id": "6cf2f8455ff18134",
        "type": "api-call-service",
        "z": "966ffa5b6d6e9fbc",
        "name": "Notify Kyle's Devices",
        "server": "b957863ef7993781",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_kyles_iphone_15",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\":\"Carport has Motion. Node Red.\",\"title\":\"Carport has Motion. Node Red.\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 620,
        "y": 620,
        "wires": [
            [
                "4c9d6d8d68b63d6f"
            ]
        ]
    },
    {
        "id": "5f51fc5610aaba7d",
        "type": "trigger-state",
        "z": "966ffa5b6d6e9fbc",
        "name": "",
        "server": "b957863ef7993781",
        "version": 4,
        "inputs": 0,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "binary_sensor.camerasystem_carport_motion",
        "entityIdType": "exact",
        "debugEnabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            }
        ],
        "customOutputs": [],
        "outputInitially": false,
        "stateType": "str",
        "enableInput": false,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "x": 240,
        "y": 620,
        "wires": [
            [
                "6cf2f8455ff18134"
            ],
            []
        ]
    },
    {
        "id": "97edee50878da3bd",
        "type": "trigger-state",
        "z": "966ffa5b6d6e9fbc",
        "name": "",
        "server": "b957863ef7993781",
        "version": 4,
        "inputs": 0,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "binary_sensor.camerasystem_driveway_motion",
        "entityIdType": "exact",
        "debugEnabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            }
        ],
        "customOutputs": [],
        "outputInitially": false,
        "stateType": "str",
        "enableInput": false,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "x": 240,
        "y": 720,
        "wires": [
            [
                "dfa954de6fd0783b"
            ],
            []
        ]
    },
    {
        "id": "dfa954de6fd0783b",
        "type": "api-call-service",
        "z": "966ffa5b6d6e9fbc",
        "name": "Notify Kyle's Devices",
        "server": "b957863ef7993781",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_kyles_iphone_15",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\":\"Driveway has Motion. Node Red.\",\"title\":\"Driveway has Motion. Node Red.\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 620,
        "y": 720,
        "wires": [
            [
                "0be838af88b93717"
            ]
        ]
    },
    {
        "id": "851dfb0b9b8a010e",
        "type": "debug",
        "z": "966ffa5b6d6e9fbc",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 820,
        "wires": []
    },
    {
        "id": "1ae066b48d91bd6b",
        "type": "api-call-service",
        "z": "966ffa5b6d6e9fbc",
        "name": "Notify Kyle's Devices",
        "server": "b957863ef7993781",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_kyles_iphone_15",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\":\"Front door has Motion. Node Red.\",\"title\":\"Front door has Motion. Node Red.\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 620,
        "y": 820,
        "wires": [
            [
                "851dfb0b9b8a010e"
            ]
        ]
    },
    {
        "id": "27682717a4e30f06",
        "type": "trigger-state",
        "z": "966ffa5b6d6e9fbc",
        "name": "",
        "server": "b957863ef7993781",
        "version": 4,
        "inputs": 0,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "binary_sensor.ring_front_door_motion",
        "entityIdType": "exact",
        "debugEnabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            }
        ],
        "customOutputs": [],
        "outputInitially": false,
        "stateType": "str",
        "enableInput": false,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "x": 210,
        "y": 820,
        "wires": [
            [
                "1ae066b48d91bd6b"
            ],
            []
        ]
    },
    {
        "id": "bb45b499dba2a1ec",
        "type": "debug",
        "z": "966ffa5b6d6e9fbc",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 920,
        "wires": []
    },
    {
        "id": "1220be67f1af8ff6",
        "type": "api-call-service",
        "z": "966ffa5b6d6e9fbc",
        "name": "Notify Kyle's Devices",
        "server": "b957863ef7993781",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_kyles_iphone_15",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\":\"Front door locked. Node Red.\",\"title\":\"Front door locked. Node Red.\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 620,
        "y": 920,
        "wires": [
            [
                "bb45b499dba2a1ec"
            ]
        ]
    },
    {
        "id": "2e90181005a43c59",
        "type": "trigger-state",
        "z": "966ffa5b6d6e9fbc",
        "name": "",
        "server": "b957863ef7993781",
        "version": 4,
        "inputs": 0,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "lock.front_door",
        "entityIdType": "exact",
        "debugEnabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "locked"
            }
        ],
        "customOutputs": [],
        "outputInitially": false,
        "stateType": "str",
        "enableInput": false,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "x": 140,
        "y": 920,
        "wires": [
            [
                "1220be67f1af8ff6"
            ],
            []
        ]
    },
    {
        "id": "ddb8184233f8a321",
        "type": "trigger-state",
        "z": "966ffa5b6d6e9fbc",
        "name": "",
        "server": "b957863ef7993781",
        "version": 4,
        "inputs": 0,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "lock.front_door",
        "entityIdType": "exact",
        "debugEnabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "unlocked"
            }
        ],
        "customOutputs": [],
        "outputInitially": false,
        "stateType": "str",
        "enableInput": false,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "x": 140,
        "y": 1020,
        "wires": [
            [
                "ba2e73eef91c1988"
            ],
            []
        ]
    },
    {
        "id": "ba2e73eef91c1988",
        "type": "api-call-service",
        "z": "966ffa5b6d6e9fbc",
        "name": "Notify Kyle's Devices",
        "server": "b957863ef7993781",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_kyles_iphone_15",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\":\"Front door unlocked. Node Red.\",\"title\":\"Front door unlocked. Node Red.\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 620,
        "y": 1020,
        "wires": [
            [
                "984373659ae4fc58"
            ]
        ]
    },
    {
        "id": "984373659ae4fc58",
        "type": "debug",
        "z": "966ffa5b6d6e9fbc",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 1020,
        "wires": []
    },
    {
        "id": "cf87603cf43b2f13",
        "type": "trigger-state",
        "z": "966ffa5b6d6e9fbc",
        "name": "",
        "server": "b957863ef7993781",
        "version": 4,
        "inputs": 0,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "binary_sensor.hallway_trisensor_motion_detection",
        "entityIdType": "exact",
        "debugEnabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            }
        ],
        "customOutputs": [],
        "outputInitially": false,
        "stateType": "str",
        "enableInput": false,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "x": 250,
        "y": 1120,
        "wires": [
            [
                "a5c3c50d1bdf1d84"
            ],
            []
        ]
    },
    {
        "id": "a5c3c50d1bdf1d84",
        "type": "api-call-service",
        "z": "966ffa5b6d6e9fbc",
        "name": "Notify Kyle's Devices",
        "server": "b957863ef7993781",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_kyles_iphone_15",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\":\"Hallway has motion. Node Red.\",\"title\":\"Hallway has motion. Node Red.\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 620,
        "y": 1120,
        "wires": [
            [
                "9de8fcde153610db"
            ]
        ]
    },
    {
        "id": "9de8fcde153610db",
        "type": "debug",
        "z": "966ffa5b6d6e9fbc",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 1120,
        "wires": []
    },
    {
        "id": "3e0569742e0d37f0",
        "type": "trigger-state",
        "z": "966ffa5b6d6e9fbc",
        "name": "",
        "server": "b957863ef7993781",
        "version": 4,
        "inputs": 0,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "lock.outdoor_kitchen_door",
        "entityIdType": "exact",
        "debugEnabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "locked"
            }
        ],
        "customOutputs": [],
        "outputInitially": false,
        "stateType": "str",
        "enableInput": false,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "x": 180,
        "y": 1220,
        "wires": [
            [
                "f478e8bb311c25fa"
            ],
            []
        ]
    },
    {
        "id": "77a39e59df021e7c",
        "type": "debug",
        "z": "966ffa5b6d6e9fbc",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 1220,
        "wires": []
    },
    {
        "id": "f478e8bb311c25fa",
        "type": "api-call-service",
        "z": "966ffa5b6d6e9fbc",
        "name": "Notify Kyle's Devices",
        "server": "b957863ef7993781",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_kyles_iphone_15",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\":\"Outdoor kitchen door locked. Node Red.\",\"title\":\"Outdoor kitchen door locked.\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 620,
        "y": 1220,
        "wires": [
            [
                "77a39e59df021e7c"
            ]
        ]
    },
    {
        "id": "bbf26980f008f8ec",
        "type": "trigger-state",
        "z": "966ffa5b6d6e9fbc",
        "name": "",
        "server": "b957863ef7993781",
        "version": 4,
        "inputs": 0,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "lock.outdoor_kitchen_door",
        "entityIdType": "exact",
        "debugEnabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "unlocked"
            }
        ],
        "customOutputs": [],
        "outputInitially": false,
        "stateType": "str",
        "enableInput": false,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "x": 180,
        "y": 1340,
        "wires": [
            [
                "c2ccad01dcf42b55"
            ],
            []
        ]
    },
    {
        "id": "c2ccad01dcf42b55",
        "type": "api-call-service",
        "z": "966ffa5b6d6e9fbc",
        "name": "Notify Kyle's Devices",
        "server": "b957863ef7993781",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_kyles_iphone_15",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\":\"Outdoor kitchen door unlocked. Node Red.\",\"title\":\"Outdoor kitchen door unlocked. Node Red.\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 620,
        "y": 1340,
        "wires": [
            [
                "b97ce3f2b3155a3d"
            ]
        ]
    },
    {
        "id": "b97ce3f2b3155a3d",
        "type": "debug",
        "z": "966ffa5b6d6e9fbc",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 1340,
        "wires": []
    },
    {
        "id": "7cddbbc49dca0ff9",
        "type": "time-range-switch",
        "z": "966ffa5b6d6e9fbc",
        "name": "Time equals 8:00PM",
        "lat": "30.27108",
        "lon": "-91.88475",
        "startTime": "20:00",
        "endTime": "goldenHour",
        "startOffset": 0,
        "endOffset": 0,
        "x": 340,
        "y": 1680,
        "wires": [
            [
                "46e0cc91a4c888fe"
            ],
            []
        ]
    },
    {
        "id": "46e0cc91a4c888fe",
        "type": "api-current-state",
        "z": "966ffa5b6d6e9fbc",
        "name": "Shop AC is on",
        "server": "b957863ef7993781",
        "version": 3,
        "outputs": 2,
        "halt_if": "cool",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "climate.shop",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 580,
        "y": 1680,
        "wires": [
            [
                "478eef5db706d1e8"
            ],
            [
                "b21b1ce4ecc310f9"
            ]
        ]
    },
    {
        "id": "b21b1ce4ecc310f9",
        "type": "api-call-service",
        "z": "966ffa5b6d6e9fbc",
        "name": "Notify Kyle's Devices",
        "server": "b957863ef7993781",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_kyles_iphone_15",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\":\"Shop AC is still on. Turn it off.\",\"title\":\"Shop AC is still on. Turn it off.\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1180,
        "y": 1680,
        "wires": [
            [
                "9a0568f0cbbaaab9"
            ]
        ]
    },
    {
        "id": "9a0568f0cbbaaab9",
        "type": "debug",
        "z": "966ffa5b6d6e9fbc",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 1680,
        "wires": []
    },
    {
        "id": "478eef5db706d1e8",
        "type": "ha-wait-until",
        "z": "966ffa5b6d6e9fbc",
        "name": "Wait 10 min",
        "server": "b957863ef7993781",
        "version": 2,
        "outputs": 2,
        "entityId": "",
        "entityIdFilterType": "exact",
        "property": "",
        "comparator": "is",
        "value": "",
        "valueType": "str",
        "timeout": "10",
        "timeoutType": "num",
        "timeoutUnits": "seconds",
        "checkCurrentState": true,
        "blockInputOverrides": true,
        "outputProperties": [],
        "entityLocation": "data",
        "entityLocationType": "none",
        "x": 770,
        "y": 1640,
        "wires": [
            [
                "12b9344dbaba42ac"
            ],
            []
        ]
    },
    {
        "id": "12b9344dbaba42ac",
        "type": "api-current-state",
        "z": "966ffa5b6d6e9fbc",
        "name": "Shop AC is on",
        "server": "b957863ef7993781",
        "version": 3,
        "outputs": 2,
        "halt_if": "cool",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "climate.shop",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 960,
        "y": 1640,
        "wires": [
            [
                "b21b1ce4ecc310f9"
            ],
            []
        ]
    },
    {
        "id": "7853d96ba08b7e71",
        "type": "trigger-state",
        "z": "966ffa5b6d6e9fbc",
        "name": "",
        "server": "b957863ef7993781",
        "version": 4,
        "inputs": 0,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "binary_sensor.camerasystem_side_shop_motion",
        "entityIdType": "exact",
        "debugEnabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            }
        ],
        "customOutputs": [],
        "outputInitially": false,
        "stateType": "str",
        "enableInput": false,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "x": 250,
        "y": 1820,
        "wires": [
            [
                "f77a15d432d0de6e"
            ],
            []
        ]
    },
    {
        "id": "f77a15d432d0de6e",
        "type": "api-call-service",
        "z": "966ffa5b6d6e9fbc",
        "name": "Notify Kyle's Devices",
        "server": "b957863ef7993781",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_kyles_iphone_15",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\":\"Side shop has Motion. Node Red.\",\"title\":\"Side shop has Motion. Node Red.\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 640,
        "y": 1820,
        "wires": [
            [
                "754962dbc83bad41"
            ]
        ]
    },
    {
        "id": "754962dbc83bad41",
        "type": "debug",
        "z": "966ffa5b6d6e9fbc",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 1820,
        "wires": []
    },
    {
        "id": "a67340ad822276d7",
        "type": "debug",
        "z": "966ffa5b6d6e9fbc",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 1920,
        "wires": []
    },
    {
        "id": "eb3ecbefae229d3d",
        "type": "api-call-service",
        "z": "966ffa5b6d6e9fbc",
        "name": "Notify Kyle's Devices",
        "server": "b957863ef7993781",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_kyles_iphone_15",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\":\"Someone rang doorbell. Node Red.\",\"title\":\"Someone rang doorbell. Node Red.\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 640,
        "y": 1920,
        "wires": [
            [
                "a67340ad822276d7"
            ]
        ]
    },
    {
        "id": "b957863ef7993781",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": false,
        "cacheJson": false,
        "heartbeat": false,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": ": ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "default",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": false
    }
]